html, body {
    margin: 0;
    height: 100%;
    background-color: gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    border: 2px dotted green;
    justify-content: space-between;
    margin: 0;
    font-size: 0.7rem;
    align-items: flex-start;
}

nav div {
    float: right;
    border: 2px solid white;
    display: flex;
    align-items: center;
}

nav li {
    padding: 10px;
    margin: 0px 4px 8px 0px;
    border: 2px solid black;
}

#sign-in {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 8px;
    background-color: #1a75ff;
    color: white;
    padding: 5px 9px;
    font-weight: 600;
}


ul {
    list-style: none;
    display: flex;
padding-left: 5px;
    border: 2px solid red;
}

li {
    padding: 7px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

#middle-container {
display: flex;
flex-direction: column;
margin: auto;
border: 2px solid white;
}


footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    font-size: 0.7rem;
    min-height: 40px;
}

footer ul {
    margin-top: auto;
}

